<div class="{{options.classname.formpanel}}">
	<label class="formitem-label {{options.classname.label}}" style="{{options.style.label}}" {{options.attr.label}}></label>
	{{#each options.buttons}}
		{{#if submit}}
			<button class="{{className}}" title="{{title}}">{{name}}</button>
		{{else}}
			<button class="ml15 {{className}}" title="{{title}}">{{name}}</button>
		{{/if}}
	{{/each}}
</div>