<select data-listitem="{{listitem}}" id="formitem-{{p}}" class="formitem-control formitem-select {{data.classname}}" style="{{data.style}}" {{data.validation}} {{options.status}} {{data.disabled}} {{data.attr}} data-order="{{data.order}}">
	{{#each data.options}}
		{{#if optgroup }}
			{{#if flag}}
				</optgroup>
				<optgroup label="{{text}}" class="formitem-selectoption formitem-selectoptiongroup">
			{{else}}
				<optgroup label="{{text}}" class="formitem-selectoption formitem-selectoptiongroup">
			{{/if}}
		{{else}}
			<option value="{{val}}" class="formitem-selectoption" {{attr}}>{{text}}</option>
		{{/if}}
	{{/each}}
</select>