<span class="formitem-control {{data.classname}} formitem-checkbox" type="checkbox" data-order="{{data.order}}">
	{{#each data.options}}
		<input data-listitem="{{listitem}}" class="formitem-checkbox" placeholder="{{placeholder}}" {{disabled}} {{validation}} {{attr}} {{flag}} checked="{{checked}}"  {{status}} type="checkbox" id="formitem-radio-{{label.title}}"><label class="formitem-checkbox-label" for="formitem-radio-{{label.title}}" {{label.attr}}>{{label.title}}</label>
	{{/each}}
</span>